<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" style="border-bottom: 3px solid #746dc5;"
  aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin">Web Shop</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/korisnici">Korisnici</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/statistika">Statistika</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="dropdown01" data-bs-toggle="dropdown"
            aria-expanded="false">Profil</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="/pocetna/postavke">Uredite profil</a></li>

            <li><a class="dropdown-item" href="/login/logout">Odjavite se</a></li>
          </ul>
        </li>


      </ul>


      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="/admin/lookup">Lookup tabele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="modal" data-bs-target="#exampleModal" href="">Masovna poruka</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/chat">Poruke</a>
        </li>


      </ul>





    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Slanje poruke svakom korisniku</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sadrzajPoruke">Poruka:</label>
          <textarea class="form-control" id="sadrzajPoruke" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zatvori</button>
        <button type="button" class="btn btn-primary" onclick="posaljiPorukuSvima()">Pošalji</button>
      </div>
    </div>
  </div>
</div>