<div class=" modal fade" id="staticBackdropTrgovina" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="fw-bold mb-0">Napravi trgovinu i prodaj svoje artikle na Web Shopu</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form class="" method="post" action="/register/trgovina">
                    <div class="form-floating mb-3">
                        <input name="naziv_trgovine" type="text" class="form-control rounded-4" id="floatingInput"
                            placeholder="Username">
                        <label for="floatingInput">Ime trgovine</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input autocomplete="off" name="ime" type="text" class="form-control rounded-4"
                            id="floatingInput" placeholder="Username">
                        <label for="floatingInput">Ime vlasnika</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input autocomplete="off" name="prezime" type="text" class="form-control rounded-4"
                            id="floatingInput" placeholder="Username">
                        <label for="floatingInput">Prezime vlasnika</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="email" type="email" class="form-control rounded-4" id="floatingInput"
                            placeholder="name@example.com">
                        <label for="floatingInput">E-mail adresa</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="password" type="password" class="form-control rounded-4" id="floatingPassword"
                            placeholder="Password">
                        <label for="floatingPassword">Šifra</label>
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-success" type="submit">Registruj se</button>
                    <small class="text-muted">Registrovanjem prihvaćate naše uslove korištenja.</small>
                    <hr class="my-4">

                </form>
            </div>
        </div>
    </div>
</div>