<div class="px-4 py-2 my-2 text-center">

    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-gear-fill"
        viewBox="0 0 16 16">
        <path
            d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
    </svg>
    <h1 class="display-5 fw-bold"></h1>
    <div class="col-lg-10 mx-auto">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        Detalji o trgovini
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <div class="input-group mb-3 row">
                            <span class="input-group-text col-4" id="basic-addon1">Naziv</span>
                            <input type="text" class="form-control col-8" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3 row">
                            <span class="input-group-text col-4" id="basic-addon1">Kontakt telefon</span>
                            <input type="text" class="form-control col-8" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3 row">
                            <span class="input-group-text col-4" id="basic-addon1">Email</span>
                            <input type="text" class="form-control col-8" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3 row">
                            <span class="input-group-text col-4" id="basic-addon1">Kanton</span>
                            <select class="form-select form-select-sm form-control col-8"
                                aria-label=".form-select-sm example">
                                <option selected>Sarajevo</option>
                                <option value="1">Tuzlanski</option>
                                <option value="2">Posavski</option>
                                <option value="3">Srednjobosanski</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 row">
                            <span class="input-group-text col-4" id="basic-addon1">Grad</span>

                            <select class="form-select form-select-sm form-control col-8"
                                aria-label=".form-select-sm example">
                                <option selected>Sarajevo</option>
                                <option value="1">Tuzla</option>
                                <option value="2">Mostar</option>
                                <option value="3">Zenica</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 row">
                            <span class="input-group-text col-4" id="basic-addon1">Adresa</span>
                            <input type="text" class="form-control col-8" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour">
                        Poslovnice
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingFour">
                    <div class="accordion-body">
                        <div class="input-group mb-3 row">
                            <span class="input-group-text col-4" id="basic-addon1">Kanton</span>
                            <select class="form-select form-select-sm form-control col-8"
                                aria-label=".form-select-sm example">
                                <option selected>Sarajevo</option>
                                <option value="1">Tuzlanski</option>
                                <option value="2">Posavski</option>
                                <option value="3">Srednjobosanski</option>
                            </select>
                        </div>
                        <div class="input-group mb-3 row">
                            <span class="input-group-text col-4" id="basic-addon1">Grad</span>

                            <select class="form-select form-select-sm form-control col-8"
                                aria-label=".form-select-sm example">
                                <option selected>Sarajevo</option>
                                <option value="1">Tuzla</option>
                                <option value="2">Mostar</option>
                                <option value="3">Zenica</option>
                            </select>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Dodaj poslovnicu</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        Profilna slika
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="card mb-3 text-dark bg-light border-light" style="max-width: 800px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://i.imgur.com/yDH9hxa.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Uploaduj sliku</h5>
                                    <div class="input-group mb-4">
                                        <form action="/trgovina/profilna" method="post" enctype="multipart/form-data">
                                            <input type="file" class="form-control" id="inputGroupFile01" name="avatar">
                                            <input type="submit" class="btn btn-primary">Upload</input>
                                        </form>
                                    </div>

                                    <p class="card-text"><small class="text-muted">Zadnji put promjenjena prije 3
                                            minute</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        Promjena šifre
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">

                        <form action="/promjena_sifre" method=post
                            oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
                            <div class="input-group mb-3 row">
                                <span class="input-group-text col-4" id="basic-addon1">Nova lozinka</span>
                                <input type="text" class="form-control col-8" placeholder="Username"
                                    aria-label="Username" aria-describedby="basic-addon1" id="password1" type=password
                                    required name=up>
                            </div>
                            <div class="input-group mb-3 row">
                                <span class="input-group-text col-4" id="basic-addon1">Potvrdi lozinku</span>
                                <input id="password2" type=password name=up2 class="form-control col-8"
                                    placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>


                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3">Promjeni sifru</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>