<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <!-- JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- TOASTR -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <link href="/stylesheets/pocetna_kupac.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <style>
    #chartKanvas {
      width: 40% !important;
      height: auto !important;
    }

    @media only screen and (max-width: 600px) {
      #chartKanvas {
        width: 90% !important;
        height: auto !important;
      }
    }
  </style>

</head>

<body>




  <%- include('../partials/admin_hm.ejs') %>
    <br><br>


    <div class="px-2 py-1 my-1">
      <div class="col-lg-11 mx-auto">
        <div class="album py-1">
          <div class="container">
            <div class=" bg-white">

              <div class="container my-1">
                <div class="row p-1 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                  <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
                    <canvas id="korisnici"></canvas>
                  </div>
                  <div class="col-lg-5 offset-lg-1 p-0 overflow-hidden shadow-lg">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Tip korisnika</th>
                          <th>Broj profila</th>
                        </tr>
                      </thead>
                      <tbody id="korisniciTabela">

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <br>
              -----------------
              <br>
              <div class="container my-1">
                <div class="row p-1 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                  <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
                    <canvas id="aktivnost"></canvas>
                  </div>
                  <div class="col-lg-5 offset-lg-1 p-0 overflow-hidden shadow-lg">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Status</th>
                          <th>Broj profila</th>
                        </tr>
                      </thead>
                      <tbody id="aktinostiTabela">

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <br> --------


              <br>
              <div class="container my-1">
                <div class="row p-1 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                  <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
                    <canvas id="narudzbe"></canvas>
                  </div>
                  <div class="col-lg-5 offset-lg-1 p-0 overflow-hidden shadow-lg">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Status narudžbe</th>
                          <th>Broj narudžbi</th>
                        </tr>
                      </thead>
                      <tbody id="narudzbeTabela">

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <br>
              <div class="container my-1">
                <div class="row p-1 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
                  <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
                    <canvas id="chat"></canvas>
                  </div>
                  <div class="col-lg-5 offset-lg-1 p-0 overflow-hidden shadow-lg">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Tip korisnika</th>
                          <th>Broj poruka</th>
                        </tr>
                      </thead>
                      <tbody id="chatTabela">

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>

      </div>

    </div>


    <script src="/javascripts/administrator.js"></script>
    <script>
      $(document).ready(function () {
        $.get("/admin/statistika/1",
          function (data, status) {
            //---------------------------------------------
            const myChart1 = new Chart(
              document.getElementById('korisnici'),
              data.config_korisnik
            );

            $('#korisniciTabela').append(`<tr>
              <td>Admin</td>
              <td>${data.admini}</td>
            </tr>
            <tr>
              <td>Kupac</td>
              <td>${data.kupci}</td>
            </tr>
            <td>Trgovci</td>
              <td>${data.trgovci}</td>
            </tr>`);


            //---------------------------------------------
            const myChart2 = new Chart(
              document.getElementById('aktivnost'),
              data.config_aktivnost
            );

            $('#aktinostiTabela').append(`<tr>
              <td>Aktivni</td>
              <td>${data.aktivni}</td>
            </tr>
            <tr>
              <td>Blokirani</td>
              <td>${data.banovani}</td>
            </tr>
            `);
            //---------------------------------------------
            const myChart3 = new Chart(
              document.getElementById('narudzbe'),
              data.config_narudzbe
            );

            $('#narudzbeTabela').append(`<tr>
              <td>Završeno</td>
              <td>${data.zavrsene_narudzbe}</td>
            </tr>
            <tr>
              <td>U toku</td>
              <td>${data.aktivne_narudzbe}</td>
            </tr>
            <tr>
              <td>Otkazane/odbijene</td>
              <td>${data.odbijena_narudzbe}</td>
            </tr>
            `);
            //---------------------------------------------
            const myChart4 = new Chart(
              document.getElementById('chat'),
              data.config_chat
            );

            $('#chatTabela').append(`<tr>
              <td>Admin</td>
              <td>${data.poslao_admin}</td>
            </tr>
            <tr>
              <td>Trgovac</td>
              <td>${data.poslao_trgovac}</td>
            </tr>
            <tr>
              <td>Kupac</td>
              <td>${data.poslao_kupac}</td>
            </tr>
            `);
            //---------------------------------------------


          });
      });

    </script>

</body>

</html>